body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #191a56;
    color: white;
    font-family: 'Quantico', sans-serif;
}

/*-------------------------------------------This is the CSS to do with navagation bar--------------------------------------------------------*/

.header {
    background-color: #00082B;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container img {
    height: 40px;
    margin-right: 10px; /* Adjust the space between the image and the text */
}

.logo-container {
    display: flex;
    align-items: center;
}

.site-title {
    color: white;
    font-size: 1.5em;
    margin: 0;
}
.header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
.switch {
    position: relative;
    display: inline-block;
    width: 86px; /* Increased width for longer switch */
    height: 34px; /* Adjusted height */
    margin-right: 60px;
}
 
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
 
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}
 
.slider:before {
    position: absolute;
    content: "";
    height: 26px; /* Adjusted height of the slider button */
    width: 26px; /* Adjusted width of the slider button */
    left: 4px; /* Adjusted left position */
    bottom: 4px; /* Adjusted bottom position */
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
 
.label-c, .label-f {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #666;
    padding: 0 5px;
    transition: opacity 0.4s;
}
 
.label-c {
    left: 5px;
}
 
.label-f {
    right: 5px;
}
 
input:checked + .slider {
    background-color: #2196F3;
}
 
input:checked + .slider:before {
    transform: translateX(53px); /* Adjusted translateX to match the button size */
}
 
input:checked + .slider .label-c {
    opacity: 0;
}
 
input:not(:checked) + .slider .label-f {
    opacity: 0;
}


/*------------------------------------------This is the container around the search bar-------------------------------------------------------*/

.image-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.adjustable-size {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    max-width: 80%;
    height: 43px;
    margin-bottom: 10px; /* Space between box1 and suggestions-container */
}

/*----------------------------------------------This is the CSS for the search bar------------------------------------------------------------*/

.box1 .search-box {
    width: 700px;
    height: 43px;
    padding: 0px;
    border-radius: 5px;
    border: 1px solid #00082B;
    background-color: rgba(255, 255, 255, 0.9);
    color: #00082B;
    transition: width 0.3s ease-in-out; /* Smooth transition for width change */
}

/* Responsive adjustments for search box */
@media (max-width: 1200px) {
    .box1 .search-box {
        width: 600px; /* Adjust width for medium screens */
    }
}

@media (max-width: 992px) {
    .box1 .search-box {
        width: 500px; /* Adjust width for smaller screens */
    }
}

@media (max-width: 768px) {
    .box1 .search-box {
        width: 400px; /* Adjust width for tablets */
    }
}

@media (max-width: 576px) {
    .box1 .search-box {
        width: 300px; /* Adjust width for small devices */
    }
}

@media (max-width: 400px) {
    .box1 .search-box {
        width: 100%; /* Full width for very small screens */
    }
}

button {
    background-color: #1f1b42; /* Blue */
    color: white;
    padding: 5px 8px; /* increased padding to make the button larger */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* increased font size to make the button larger */
}

button:hover {
    background-color: #070707;
}

/*-------------------------------------------This is the CSS for the suggestion boxes---------------------------------------------------------*/

.suggestions-container {
    top: 60%; /* Adjust this value to position the suggestions container */
    margin: 0 auto; /* Add this to horizontally center the container */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    max-width: 80%;
}

.suggestion-box {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 10px;
    padding: 15px;
    margin: 20px; /* Adjusted margin to maintain spacing */
    width: 50px;
    height: 100px;
    text-align: center;
    flex-basis: calc(25% - 100px); /* Adjust this value as per the design */
    font-size: 16px; /* default font size */
}

.suggestion-box p {
    margin: 5px 0;
}

/* Media query to adjust font size on smaller screens */
@media (max-width: 768px) {
    .box1 .search-box {
        font-size: 14px;
    }
    button {
        font-size: 14px;
    }
    .suggestion-box {
        font-size: 12px;
    }
}

/* Media query to adjust font size on even smaller screens */
@media (max-width: 480px) {
    .box1 .search-box {
        font-size: 12px;
    }
    button {
        font-size: 12px;
    }
    .suggestion-box {
        font-size: 10px;
    }
}


/*--------------------------------------------------This is all the CSS for the daily weather----------------------------------------------*/

.transparent-header-weather {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 20px;
    width: 90%;
    margin: 0 auto;
    margin-top: 450px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.header-name-header {
    color: white;
    font-size: 1.5em;
    margin-bottom: 20px;
}
 
.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
 
.main-weather {
    text-align: center;
    margin-bottom: 20px;
}
 
.weather-box {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
 
.location {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: black;
}
 
.temp {
    font-size: 2em;
    margin-top: 10px;
    color: black;
}
 
.details-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns layout */
    gap: 20px;
    width: 350px;
    max-width: 600px; /* Adjust the max width to control the grid size */
}
 
.weather-item {
    background: #4d4de4;
    color: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}
#weather_description{
    color: black;
}
#weather-image {
    width: 100px; /* adjust the width to your desired size */
    height: 100px; /* adjust the height to your desired size */
    object-fit: cover; /* or use 'contain' to scale the image down */
  }
  .day1-image {
    /* Default size for day 1 images */
    width: 80px;
    height: 80px;
  }
  #weather-description {
    color: black;
  }

/*---------------------------------------------This is all the CSS for forkasted weather--------------------------------------------------------------*/

.header-transparent-container {
    background-color: rgba(0, 0, 0, 0.5); /* Lightly transparent black background */
    padding: 20px;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    margin-top: 280px; /* Adjust this value to change the spacing above the header */
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    text-align: center; /* Center the text */
}

.header-box {
    position: relative; /* Ensure the view-switch is positioned correctly */
    width: 100%;
    display: flex;
    flex-direction: column; /* Stack the elements vertically */
    justify-content: center; /* Center the content vertically */
    align-items: center; /* Center the content horizontally */
    color: white;
    font-size: 1.5em;
}

.transparent-container {
    background-color: rgba(0, 0, 0, 0.5); /* Lightly transparent black background */
    padding: 20px;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    margin-top: 20px; /* Adjust this value to change the spacing below the header */
}

.content-container {
    width: 100%; /* Change to 100% to fit the transparent container */
    margin: 0; /* Reset margin since the parent container is handling it */
    padding-top: 20px;
}

.tabs {
    display: flex;
    flex-wrap: wrap; /* Add this to allow tabs to wrap to the next line */
    justify-content: center; /* Center the tabs horizontally */
    margin-bottom: 20px;
    padding: 20px;
}

.tab {
    background-color: #BBB;
    border-radius: 50px;
    width: 200px;
    height: 350px;
    text-align: center;
    margin: 10px; /* Add some margin to separate the tabs */
}

.tab div {
    margin: 10px; /* add some margin to separate the elements */
}

.tab div {
    color: #000; /* set font color to black */
}

#temp {
    color: black;
}

.weather-image {
    width: 80px;  /* Example width */
    height: 80px; /* Example height */
    object-fit: cover; /* Ensures the image covers the given dimensions */
    margin: 10px;  /* Optional: Adds some spacing around the images */
}

/* Media query to adjust tab layout on smaller screens */
@media (max-width: 768px) {
   .tabs {
        flex-direction: column; /* Stack tabs vertically on smaller screens */
    }
   .tab {
        width: 100%; /* Make tabs full-width on smaller screens */
        margin-bottom: 20px; /* Add some margin between tabs */
    }
}

/*--------------------------------------------------This is all the CSS to do with footer-----------------------------------------------------*/

.footer {
    background-color: #F0F0F0;
    padding: 20px;
    color: black;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 250px;
}

.footer a {
    color: black;
    margin: 0 15px;
    text-decoration: none;
}

.footer img {
    height: 30px;
}

/* Specific rule for the email icon */
.footer img[alt="Email"] {
    height: 40px; /* Change this value to your desired size */
}

