body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #191a56;
    color: white;
    font-family: 'Quantico', sans-serif;
}
 
/*--------------------------------------------------This is all the CSS for nav barr----------------------------------------------------------*/
 
.header {
    background-color: #00082B;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.logo-container img {
    height: 40px;
    margin-right: 10px; /* Adjust the space between the image and the text */
}
 
.logo-container {
    display: flex;
    align-items: center;
}
 
.site-title {
    color: white;
    font-size: 1.5em;
    margin: 0;
}
.header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
 
/*--------------------------------------------------This is all the CSS for team information-------------------------------------------------*/
 
.container {
    padding: 20px;
}
.team-contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team-contacts-title {
    text-align: center;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 20px;
}
.team-contacts {
    background-color: #7D81D5;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto 20px auto;
}
.team-member {
    text-align: left;
}
.team-member img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: block;
    margin-bottom: 10px;
}
@media (max-width: 768px) {
    .team-contacts {
        grid-template-columns: 1fr; /* Display one column for screens <= 768px */
    }
}
 

/*--------------------------------------------------This is all the CSS for user information box-------------------------------------------------*/
 
#contactForm {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    background-color: #7D81D5;
    font-family: Arial, sans-serif;
    margin-bottom: 0px; /* Add space below the form */
 
}
 
#contactForm div {
    margin-bottom: px;
}
 
#contactForm label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
 
#contactForm input[type="text"] {
    width: calc(100% - 10px); /* Adjust input width */
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
 
#contactForm .error {
    color: red;
    font-size: 12px;
}
 
#contactForm button[type="submit"] {
    background-color: #1f1b42;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 3px;
}
 
#contactForm button[type="submit"]:hover {
    background-color: black;
}
 
/* Responsive adjustments */
@media screen and (max-width: 480px) {
    #contactForm input[type="text"] {
        width: 100%; /* Full width on small screens */
    }
}
 
/*--------------------------------------------------This is all the CSS for the thank you box-------------------------------------------------*/
 
.thank-you-box {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 570px;
    text-align: center;
}

 
/*--------------------------------------------------This is all the CSS for the footer--------------------------------------------------------*/
 
.footer {
    background-color: #F0F0F0;
    padding: 20px;
    color: black;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    height: 160px;
}
.footer a {
    color: black;
    margin: 0 15px;
    text-decoration: none;
}
.footer img {
    height: 30px;
}
/* Specific rule for the email icon */
.footer img[alt="Email"] {
    height: 40px; /* Change this value to your desired size */
}